<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Stylesheets
  ============================================= -->

  <link rel="stylesheet" href="../static/css/customNew.css" type="text/css" th:href="@{/css/customNew.css}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Document Title
  ============================================= -->
  <title>Home | Smart Class Portal | University of the Aegean</title>

</head>

<body class="login-body">
<div class="row">
  <div class="headerContainer col s12 m10 push-m1 z-depth-2  lighten-5">

  </div>
  <div class="input-cart col s12 m10 push-m1 z-depth-2 grey lighten-5">
    <div class="col s12 m5 login">
      <h5 class="center darkBlueFont">An unexpected Error Occurred
      </h5>
    </div>
    <!-- Signup form -->
    <div class="col s12 m7 signup">
      <div>
        <h6 class="darkBlueFont" th:text="${error}"></h6>
      </div>
    </div>


    <hr class="footerHr">
    <footer id="footer">


      <!-- Footer Widgets
============================================= -->
      <div th:replace="footer :: footer"></div>
      <!-- .footer-widgets-wrap end -->


      <!-- Copyrights
      ============================================= -->
      <!-- #copyrights end -->

    </footer>
  </div>

</div>

</div><!-- #wrapper end -->

<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</div>

</body>
</html>
