<div th:fragment="header">
    <div id="header" class="header row">
       <!-- <div  class="col" th:style="'background: url(/sb/images/combo-logo.png);height: 73px;
            background-position-x: 0px;
            background-position-y: 0px;
            background-repeat: no-repeat; width: 100%;'" id="headerTitle">
        </div>-->
        <!--<div class="col" th:style="'font-size: 1rem;
            position: absolute;
            bottom: 0;
            right: 3rem;'">
            <span th:text="item 1">item 1</span>
            <span th:text="item 2">item 2</span>
            <span th:text="item 3">item 3</span>
            <span th:text="item 4">item 4</span>
            <span th:text="item 5">item 5</span>
            <span >item 1</span>
            <span >item 2</span>
            <span >item 3</span>
            <span >item 4</span>
            <span >item 5</span>

        </div>-->
    </div>

    <div class="headerFooter row" th:style=" 'background-color: #0275d8;
    height: 1.5rem;
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;'">


    </div>
</div>