<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams redirect</title>
</head>
<body>

============================================= -->
<script src="../js/jquery.js"></script>
<script src="../js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script src="../js/functions.js"></script>
<script>
    window.location.replace("https://teams.microsoft.com/l/team/19%3aAc94KrdWWIveviMqzG5ngZGvA11kzHtbF5JLVDUMjMU1%40thread.tacv2/conversations?groupId=cfbefafc-ec6e-45c5-9e81-9125995e43ca&tenantId=d4a81dbe-9310-4d28-b060-dc9cd82a3b8b");
</script>
</body>
</html>